.container {
    display: grid;
    justify-content: center;
    justify-items: center;
}

.tictactoe-grid {
    margin-top: 50px;
    margin-bottom: 20px;

    display: grid;
    grid-template-rows: 175px 175px 175px;
    grid-template-columns: 175px 175px 175px;
    justify-content: center;
    align-content: center;
    gap: 10px;

    background-color: rgb(100, 100, 100);
}

.cell{
    background-color: white;
    border: none;
    font-size: 150px;

    height: 175px;
    width: 175px;

}

.cell:hover {
    background-color: lightblue;
}

body {
    background-color: lightgrey;
}

.head {
    margin-top: 20px;
}

#submitBtn {
    padding: 10px;
    margin-left: 20px;
    font-weight: bold;
    border-radius: 10px;
}

.below {
    font-size: x-large;
    font-weight: bold;
}

#resetBtn {
    padding: 20px;
    font-size: larger;
    font-weight: bold;
    background-color: cyan;
    border-radius: 40px;
}

.below {
    display: flex;
    flex-direction: column;
}

p, a {
    font-size: large;
}

#resultDisplay {
    margin: 10px;
    font-size: xx-large;
    font-weight: bolder;
}

/*
#cellValue1, #cellValue2, #cellValue3, #cellValue4, #cellValue5, #cellValue6, 
#cellValue7, #cellValue8, #cellValue9
*/
